<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reseting password</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <placeholder>Enter your email<p>{{ form.email }}</p></placeholder>

      <input type="submit" class="btn btn-default btn-lg" value="Reset password">
     <!-- <td><a href="{% url 'login'  %}"> <button type="button" class="btn btn-primary">logout</button></a></td>-->
  </form>
{% endblock %}
</body>
</html>